* {
  background-color: #efe6eb;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
}

.title {
  font-size: 32px;
  color: #5b2490;
  text-align: center;
  text-shadow: 1px 2px #dba9ce;
}

.title.hott {
  text-shadow: 1px 2px #ecb4bf;
}

.title.medov {
  text-shadow: 1px 2px #fdf3b8;
}

.title.peach {
  text-shadow: 1px 2px #fdd6b5;
}

.mainimg {
  display: block;
  height: auto;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 5px dotted #dba9ce;
  }

.mainimg.hotimg {
  border: 5px solid #ecb4bf;
  }

.mainimg.medoimg {
  border: 5px solid #fdf3b8;
}

.mainimg.cobimg {
  border: 5px solid #fdd6b5;
}

.menu {
  text-align: center;
}

#recipes {
  list-style: none;
  padding: 20px;
  border: 5px solid #dba9ce;
  border-radius: 10px;
  display: inline-block;
}

.description {
  padding: 20px;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 10px;
  display: inline-block;
}

.description.hotte {
  border: 5px dashed #ecb4bf;
  }

.description.medovi {
  border: 5px dashed #fdf3b8;
}

.description.peachy {
  border: 5px dashed #fdd6b5;
}

.instructions {
  padding: 10px;
}

.ingredients {
  float: left;
  width: 50%;
  text-align: center;
}

h2 {
  text-align: center;
}

.steps {
  padding-left: 50%;
  padding-right: 10%;
}

.instructions:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  text-align: center;
}